body{
    
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
}

.nav {
    overflow: hidden;
    
  }
  
  .nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 20px 30px 70px 20px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    font-weight: bold;
  }
  
  

h1{ 
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: #363958;
    
}
#first-text{
    
    margin-bottom: 0px;
}

#sec-text{
    margin-top: 0px;
    color: #FF8367;
}

#third-text{
    margin-top: -20px;
}

#f-button{
    margin-top: 5px;
}

p{
    color: dimgray;
}

.highlight{
    color: #F46060;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 90%;
}

.link-button{
    
    text-decoration: none;
    background-image: linear-gradient(45deg,#64C7F5 ,#35B8F5);
    padding: 20px 60px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;

}

section{
    height: 500px;
    
}

#about{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #363958;
}
#latest{
    margin: 50px;
    text-align: center;
    font-size: 50px;
}

.project-area{
    background-color: #F2F4F4 ;
    height: 700px;
}

.one-width{
    background-color:white;
    border-radius: 10px;
    margin-left: 20px;
    width: 25%;
    float: left;
    padding:  20px;
    box-shadow: 5px 10px 8px 2px #888888;
}

.one-width img{
    width: 100%;
    border-radius: 10px;
}

#gym{
    margin-left: 70px;
}

#agency{
    margin-left: 30px;
}

#music{
    margin-left: 30px;
}

/* .banner img{
    position: center;
    width: 65%;
    margin-left: 110px;
    padding: 100px 150px ;
    
} */

#bn{
    background-image: url("images/bn.png");
    padding: 5px;
    background-size: 800px;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 300px;
    margin-top: 60px;
}


#inquiry{
    color: white;
    margin-left:0px;
    font-size:60px;
    text-align: left;
}


 #chat{

    text-align: right;
    margin-right: 20px;
}

.link{
    text-decoration: none;
    background-image: linear-gradient(45deg,#64C7F5 ,#35B8F5);
    padding: 20px 40px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    position: right;
    margin-left: 100px;
    
}

.half-width-chat{
    width: 40%;
    float: left;
   
    padding-left: 2%;
    margin-top: 80px;
    margin-right: 50px;

}

#stay{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
#mail{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #363958;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  
}

.social{
  position: relative;
  display: inline-block;
  float: left;
  padding: 5px;

}
 
.social img{
    width:50%;
    height:50%;
}

.service-area{
    background-color:white ;
    height: 700px;
}

#web{

     margin-left: 70px;
     border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(35, 139, 3),rgb(55, 219, 5));
    border-image-slice: 1;
    
}

#it{
    margin-left: 30px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan );
    border-image-slice: 1;
}

#word{
    margin-left: 30px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(238, 36, 160),rgb(252, 139, 10) );
    border-image-slice: 1;
}

.onwidth{
    background-color:white;
    border-radius: 10px;
    margin-left: 20px;
    width: 25%;
    float: left;
    padding:  25px;
    box-shadow: 5px 10px 8px 10px #888888;
}

.onwidth img{
    width: 100%;
    border-radius: 10px;
}


